@import url('https://fonts.googleapis.com/css?family=Karla');

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #1967e9;
    position: relative;
    margin: 0;
    padding-bottom: 3.5rem;
    min-height: 100%;
}

body.alt-body-color-1 {
    background-color: #d20357;
}

body.alt-body-color-2 {
    background-color: #ff8100;
}

body.alt-body-color-3 {
    background-color: #24e91f;
}

body.alt-body-color-4 {
    background-color: #bd77ff;
}

body.alt-body-color-5 {
    background-color: #5b2fff;
}

body.error-bg {
    background-color: #d62d20;
}

body.no-color {
    background-color: white;
    color: black;
}

* {
    font-family: 'Karla', 'Whitney', sans-serif;
    font-weight: normal;
}

*[secondary] {
    color: gray;
}

b {
    font-weight: bold !important;
}

.no-color a {
    color: black;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.center-all {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.main-content {
    margin-bottom: 15px;
    text-align: center;
}

.main-content.below-fold {
    margin-top: 120px;
}

#start {
    padding-left: 50px;
    padding-right: 50px;
}

#phone-img {
    border-radius: 30px;
}

button, .button {
    padding: 7px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

button:hover, .button:hover {
    background-color: white;
    color: black;
}

button.black-btn, .button.black-btn {
    border: 1px solid black;
    color: black;
    position: relative;
    top: 0px;
}

button.black-btn:hover, .button.black-btn:hover {
    border: 1px solid black;
    color: black;
    top: -2px;
}

.button.alt-btn {
    padding: 6px 9px;
    border-radius: 4px;
    transition: 0.3s;
    text-decoration: none;
    position: relative;
    top: 0px;
}

.button.alt-btn.amazon {
    color: white;
    background-color: #ff9900;
}

.button.alt-btn.google {
    color: white;
    background-color: #ea4335;
}

.button.alt-btn.best-buy {
    color: white;
    background-color: #003b64;
}

.button.alt-btn:hover {
    position: relative;
    top: -2px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px 1rem;
    background-color: #333434;
    color: white;

}

footer p {
    float: left;
}

footer p.right {
    float: right;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 6px; } /* allow space for check mark */

label { font-size: 18px; }

.topbar {
  background: #41ade5;
  padding: 1px;
  padding-left: 15px;
  color: white;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.topbar a, .bg-container a, footer a {
    color: white !important;
}

.topbar:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.bg-container {
  background: #171F2C;
  padding: 1px;
  padding-left: 15px;
  color: white;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.bg-container:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(1.5deg);
  transform-origin: 100%;
  z-index: -1;
}

.phone-selection {
    width: 90%;
    display: table;
    margin: 5px;
}

.phone-img {
    width: 30%;
    display: table-cell;
    padding: 20px;
    float: left;
    text-align: center;
    transition: 0.5s;
}

.phone-description {
    width: 10%;
    display: table-cell;
    text-align: right;
    transition: 0.7s;
}

.team-member {
    margin-bottom: 12px;
}

.team-member img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.team-member span.name {
    vertical-align: top;
    font-size: 1.4em;
    position: relative;
    top: 8px;
}

.team-member span.title {
    font-size: 1.2em;
    color: gray;
}

.team-member span.links {
    position: relative;
    top: 6px;
    font-size: 1em;
}

.team-member span.links a {
    color: gray;
}

@media (max-width: 550px) {
    body {
        padding-bottom: 5rem;
    }

    .center-all {
        left: 0%;
        transform: translateX(0%) translateY(-50%);
    }

    footer p {
        float: none;
        text-align: center;
    }

    footer p.right {
        float: none;
        text-align: center;
    }

    .phone-img {
        display: none;
    }
}
