@import url('https://fonts.googleapis.com/css?family=Karla');

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: #4d4dff;
    position: relative;
    margin: 0;
    padding-bottom: 3.5rem;
    min-height: 100%;
}

body.alt-body-color-1 {
    background-color: #d20357;
}

body.alt-body-color-2 {
    background-color: #ff8100;
}

body.alt-body-color-3 {
    background-color: #24e91f;
}

body.alt-body-color-4 {
    background-color: #bd77ff;
}

body.alt-body-color-5 {
    background-color: #5b2fff;
}

* {
    font-family: 'Karla', 'Whitney', sans-serif;
    font-weight: normal;
}

b {
    font-weight: bold !important;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.center-all {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
#start {
    padding-left: 50px;
    padding-right: 50px;
}

button, .button {
    padding: 7px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

button:hover, .button:hover {
    background-color: white;
    color: black;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px 1rem;
    background-color: #333434;
    color: white;

}

footer p {
    float: left;
}

footer p.right {
    float: right;
}

@media (max-width: 550px) {
    body {
        padding-bottom: 5rem;
    }

    .center-all {
        left: 0%;
        transform: translateX(0%) translateY(-50%);
    }

    footer p {
        float: none;
        text-align: center;
    }

    footer p.right {
        float: none;
        text-align: center;
    }
}
